<br>
<%= form_for @student do |f| %>

  <label> Title: <%= f.text_field :first_name %></label><br><br>
  <label> Room number: <%= f.text_field :last_name %></label><br><br>
  <%= f.submit %>

<% end %>
