<h1>School Class Form</h1>
<br>
<%= form_for @school_class do |f| %>

  <label> Title: <%= f.text_field :title %></label><br><br>
  <label> Room number: <%= f.text_field :room_number %></label><br><br>
  <%= f.submit %>

<% end %>
